* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: antiquewhite;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  float: left;
  margin-top: 5px
}
h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(45deg, #f3232f, rgb(238, 238, 71));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.info{
  background-color: white;
  margin: 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  font-weight: 300;
  font-size: 18px;
  border: 3px solid #f3232f;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.info:hover{
  transform: translateY(-0.4%);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
  margin-left: 7.5%;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #0d0d0d;
  font-family: Arial;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.tab button {
  color: black;
  padding: 10px 25px;
  font-weight: bold;
  background: rgb(238, 238, 71);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border: 2px solid black;
  border-radius: 10px;
  outline: #000;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tab button:hover {
  background: linear-gradient(90deg, #3f51b5, #f32323) #2196f3;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  border: 1px solid #f32323;
}

.tab button.active {
  background:linear-gradient(90deg, #3f51b5, #f32323) #2196f3;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.card img{
  border-radius: 10px;
}
.card:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}